body {
  font-family: "Arimo", sans-serif;
}
#header {
  background-image: url(../assets/heropicture.png);
  height: 100vh;
  width: 100%;
  max-height: 500px;
  justify-content: center;
}
#hero-text {
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* katki ei tea kuidas teha, proovi JS
#header-nav {  
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
} */

.colorful-hr {
  background: #dc2626;
  background: linear-gradient(
    90deg,
    rgba(220, 38, 38, 1) 0%,
    rgba(76, 175, 80, 1) 50%,
    rgba(220, 38, 38, 1) 100%
  );
  max-height: 8px;
}

.tutorials {
  max-width: 403px;
}
#medium {
  font-size: small;
  background-color: rgb(255, 109, 18);
  padding: 5px;
}
#easy {
  font-size: small;
  background-color: green;
  padding: 5px;
}
#hard {
  font-size: small;
  background-color: rgb(255, 0, 0);
  padding: 5px;
}
#redstone-academy {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#redstone-engineering {
  color: red;
}

.nav-tabs .nav-link {
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.nav-tabs .nav-link:hover {
  transform: scale(1.05);
  z-index: 1;
}

.nav-tabs .nav-link.active {
  transform: scale(1.05);
  color: #fff;
}

#nav-all-tab.active {
  background-color: red;
  border-color: red;
  color: white;
}

#nav-iron-tab.active {
  background-color: gray;
  border-color: gray;
  color: white;
}

#nav-gold-tab.active {
  background-color: red;
  border-color: red;
  color: white;
}

#nav-enderman-tab.active {
  background-color: purple;
  border-color: purple;
  color: white;
}

#nav-3x3-tab.active {
  background-color: #bb4d00;
  border-color: #bb4d00;
  color: white;
}

.nav-tabs .nav-link {
  margin: 0.25rem;
}

#watch-tutorial:hover {
  box-shadow: 0 0 20px rgb(255, 87, 87);
}

.tutorial:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}
